
body{
	background-color: #EFB33C;
	font-family: 'Poppins', sans-serif;
	
}

.overlay{
    background: black;
    opacity: .5;
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    z-index:100;
}

.footer{
	background-color: none;
	padding: 30px;
	position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    opacity: .8;
}





											{/*home button*/}


#logo{
	margin-left: 30px
	border: transparent;
	text-decoration: none;
	font-size: 2em;
}


a:link, a:visited {
    background-color: none;
    border-radius: 10px;
    padding: 10px;
    color:white;
   
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


/*a:hover, a:active {
    color: black;

}*/

.exploreactive {
	color: black;
}



											{/*explore button*/}
.box{
 	z-index: 101;
 	position: absolute;
 	display: none;
 }

 .showbox {
 	display: inline;
 }



 #explore-button{
	float: right;
	margin-top: 3%;
	color: black;
	font-size: 1em;
	border-radius: 5px;
	background-color: #F7D18F;
	
}
								{/*explore content*/}


 #explore-content{

	color: #EFB33C;
	font-size: 1.5em;
	position: fixed;
	width: 60%;
	height: 65%;
	background: black;	
	border-radius: 20px;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transition: 0.3s;
	padding: 5% 5% 5% 5%;
	text-align: center;
	
 }

#exit{
	max-width: 20px;
	max-height: 20px;
	top: 100%;
}


#exit:hover {
	cursor: pointer;
	transition: 0.5s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	opacity: 0.4;
	
}

{/*3 methods*/}

 #boil-button{
 	color: white;
 	opacity: 0.8;
 	font-weight: 200px;

}

#boil-button:hover {
	cursor: crosshair;
	transition: 0.5s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	opacity: 0.4;
	
}

#poach-button{
 	color: white;
 	opacity: 0.8;
 	font-weight: 200px;

}

#poach-button:hover {
	cursor: crosshair;
	transition: 0.5s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	opacity: 0.4;
	
}

#fry-button{
 	color: white;
 	opacity: 0.8;
 	font-weight: 200px;

}

#fry-button:hover {
	cursor: crosshair;
	transition: 0.5s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	opacity: 0.4;
	
}


{/*softboil*/}

#container2{
	color: #EFB33C;
	font-size: 1em;
	font-weight: 100;
	position: fixed;
	width: 60%;
	height: 65%;
	background: white;	
	border-radius: 20px;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transition: 0.3s;
	padding: 5% 5% 5% 5%;
	text-align: left;
	box-shadow: 5px 5px 5px #D1D0CF;
	
 }


 



















											{/*background*/}

#bg {
	position: fixed; 
	top: 40px; 
	width:  100%;
	z-index: -1;


	background-size: cover;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
	}

